#google-logo {
  width: 60%;
  height: auto;
}

.google-search {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.icon {
  height: 20px;
  width: auto;
}

.icon-container {
  margin-top: 60px;
}

.left-align {
  float: left;
  margin: 6px;
}

.right-align {
  float: right;
  margin: 6px;
}

button {
  padding: 10px 16px;
  margin: 3px 3px 0px 3px;
  border: none;
  border-radius: 6px;
  color: #5f6368;
}

button:hover {
  box-shadow: 0 0 2px #5f6368;
  color: black;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 1px #0390fc;
}

footer {
  background: #f2f2f2;
  position: fixed;
  padding: 12px 0 12px 0;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: solid #e4e4e4 1px;
}

footer a {
  font-family: sans-serif;
  font-size: 14px;
  padding: 0px 10px 0px 10px;
  text-decoration: none;
  color: #5f6368;
}

footer a:hover {
  text-decoration: underline;
}

footer a:visited {
  color: #5f6368;
}

header a {
  font-family: sans-serif;
  font-size: 14px;
  padding: 0px 6px 0px 6px;
  text-decoration: none;
  color: black;
}

header a:hover {
  text-decoration: underline;
}

header a:visited {
  color: black;
}

input {
  width: 80%;
  border-radius: 32px;
  border: 1px solid #cccccc;
  margin: 16px 0px 16px 0px;
  padding: 10px 52px 10px 52px;
  font-size: 18px;
  background: url(../images/search-icon.png), url(../images/mic-icon.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 3% 50%, 97% 50%;
}

input:focus {
  outline: none;
  box-shadow: 0 0 5px #cccccc;
}

input:hover {
  box-shadow: 0 0 5px #cccccc;
}
