/* main {
  text-align: center;
  display: block;
  margin: auto;
  max-height: 500px;
  max-width: 500px;
} */

.content-wrapper {
  text-align: center;
  display: block;
  margin: auto;
  max-width: 500px;
  max-height: 500px;
}